#Subscribe{
    background-image: url(../../../../assets/img/Subscribe_background.jpg);
    background-position: 0 -110px;
    padding: 70px 0;
}
.Subscribe__text{
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.Subscribe__text h4,
.Subscribe__text h1,
.Subscribe__text p{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #fff;
}
.Subscribe__text h4{
    font-size: 14px;
    color: #aaaaab;
    font-weight: 400;
}
.Subscribe__text h1{
    font-size: 30px;
    margin: 10px 0;
}
.Subscribe__text p{
    color: #aaaaab;
    width: 701px;
    font-size: 16px;
}
#Subscribe form{
    display: flex;
    flex-direction: row;
    width: 900px;
    margin:40px auto;
}
#Subscribe input{
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 16px;
    width: 700px;
}
#Subscribe input:focus{
    outline: none;
}
#Subscribe button:focus{
    outline: none;
}
.Sub{
    width: 200px;
    height: 50px;
    border: double 3px transparent;
    border-radius: 30px;
    background-image: linear-gradient(to right bottom,#f7d40f, #f7320f,#30bbf1);
    background-origin: border-box;
    background-clip: content-box, border-box;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin-left: 50px;
} 
@media screen and (max-width:992px){
    .Subscribe__text p{
        width: 70vw;
    }
    #Subscribe form{
        justify-content: center;
        width: auto;
    }
    #Subscribe input{
        width: 30vw;
    }
}
@media screen and (max-width:576px){
    #Subscribe form{
        flex-direction: column;
        align-items: center; 
    }
    .Sub{
        margin: 20px 0 0 0;
    }
    #Subscribe input{
        width: 70vw;
    }
}