#Partner{
    margin-bottom: 70px;
}
.Partner__header{
   width: 750px;
   margin: 0 auto;
   text-align: center;
   padding: 70px 0;
}
.Partner__header p{
   font-size: 14px;
   margin: 0;
   padding: 0;
}
.Partner__header h6{
   font-size: 36px;
   font-family: 'Poppins', sans-serif;
   font-weight: 500;
   margin: 10px;
   padding: 0;
}
.Partner__header span{
   font-size: 20px;
   color: #a7a7a7;
}
.Partner__logos{
   display: flex;
   width: 1300px;
   margin: 0 auto;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}
.Partner__logo{
   margin: 30px;
}
.Partner__logo img{
   filter: grayscale(100);
}
.Partner__logo img:hover{
   filter: grayscale(0);
   cursor: pointer;
}
@media screen and (max-width:1220px){
   .Partner__logos{
       width: 95vw;
   }
}
@media screen and (max-width:996px){
   .Partner__logo{
       margin: 30px 40px;
   }
   .Partner__header{
       width: 90vw;
   }
}