#Slider{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #191C1F;
}
.Slider__item {
    display: flex;
    flex-direction: column  ;
    justify-content: center; 
    align-items: center;
    color: #fff;
    width: 100vw;
    height: 100vh;

}
.i-animation{
    animation: slideIn 2s cubic-bezier(0.35, 0.35, 0.05, 0.88);
}
.Slider__item:nth-child(2),
.Slider__item:nth-child(5){
    background-image: url(../../../../assets/img/slider/slider-bg1.jpg);
}
.Slider__item:nth-child(3){
    background-image: url(../../../../assets/img/slider/slider-bg2.jpg);
}
.Slider__item:nth-child(4){
    background-image: url(../../../../assets/img/slider/slider-bg3.jpg);
}
.Slider__content{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 0 auto;
    width: 1200px;
}
.Slider__text_content{
    width: 1200px;
    height: 500px;
    position: relative;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    font-size: 136px;
    overflow: hidden;
}
.Slider__text_content p{
    font-size: 45px;
    font-weight: 800;
    margin: 0;
    padding: 0;
    background: -webkit-linear-gradient( left , #C33764,  #1D2671 );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Raleway', sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;   
}
.Slider__text_content h2{
    font-size: 136px;
    background: -webkit-linear-gradient( left , #C33764,  #1D2671 );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Raleway', sans-serif;
    margin-left: -7px; 
    margin-bottom: -20px!important;;
    margin-top: -20px!important;;
    margin-block-start: 0;
    margin-block-end: 0;
}
.Slider__text_content h3{
    font-size: 36px;
    color : #f9f9f9;
    font-family: 'Raleway', sans-serif;
    margin: 70px 0 0;     
}
.Slider__text_content span{
    font-size: 18px;
    color: #f9f9f9;
    width: 570px!important;
    display: inline-block;
}
.Slider__text{
    position: absolute;
    z-index: 22;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.Empty{
    width: 50%;
    opacity: 0;
}
.Slider__our-service-and-areas, .Portfolio , .Achievments{
    width: 510px;
    height: 530px;
}
.Slider__our-service-and-areas{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}
.Our-service{
    width: 100%;
    height: 50%;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(77vh);
}
.Our-service__text h6{
    color: #000;
    font-size: 24px;
    margin: 0;
    padding: 0;
}
.Our-service__text p{
    color: #666;
    font-size: 14px;
    padding: 10px 0;
}
.keep-reading{
    width: 110px;
    height: 20px;
    display: inline-block;
    padding: 7px 15px;
    border-radius: 50px;
    color: #f9f9f9;
    text-align: center;
    font-weight: 600;
    background-image: linear-gradient(to right,#743ad5, #d53a9d);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Areas {
    width: 100%;
    height: 50%;
    background: -webkit-linear-gradient( left , #C33764,  #1D2671 );  
    display: flex; 
    justify-content: center;
    align-items: center;
    transform: translateY(77vh);
}
.Areas h3{
    font-size: 48px;
    font-weight: 200;
    font-family: 'Raleway', sans-serif;
}
.Areas li, .Video__menu li{
    font-size: 18px;
    font-weight: 200;
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    opacity: .5;
}
.Areas li:first-child , .Video__menu li:first-child{
    transform: translateY(30px);
    opacity: 0;
}
.Areas li:last-child , .Video__menu li:last-child{
    transform: translateY(-30px);
    opacity: 0;
}
.Areas__left-item {
text-align: center;
}
.Areas__left-item, .Areas__right-item {
    width: 250px;
}
.Areas li:nth-child(2) ,.Video__menu li:nth-child(2){
    font-weight: 400;
    opacity: 1;
}
.Portfolio{
    display: flex;
}
.Portfolio__content{
    background-image: url(../../../../assets/img/daniel-lee-365244.jpg);
    width: 50%;
    height: 100%;
    margin-right:30px ;
    padding: 15px 15px 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    transform: translateY(77vh);
}
.Portfolio__content h3{
    font-size: 75px;
    font-weight: 200;
    font-family: 'Raleway', sans-serif;
    margin-bottom: -10px;
}
.Portfolio__content p{
    font-size: 55px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}
.Video___content{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}
.Portfolio__content .keep-reading{
    margin-top: 20px;
}
.Video___content{
    width: 250px;
    height: 530px;
}
.Video__img{
    transform: translateY(77vh);
    width: 100%;
    height: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Video__img::before {
    content: '';
    position: absolute;
    border-right: 20px solid transparent;
    border-left: 30px solid #000;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    margin-left: 20px;
}
.Video__menu{
    width: 100%;
    height: 48%;
    background: -webkit-linear-gradient( left , #C33764,  #1D2671 );
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(77vh);
}
.Date{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    width: 100%;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
}
.Achievments {
    display: flex;
    flex-direction: column;
}
.Achievments-top-items{
    width: 100%;
    height: 45%;
    padding: 60px;
    box-sizing: border-box;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transform: translateY(77vh);
}
.Achievments-top-items h3{
    font-weight: 200;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
}
.Achievments-bottom-items{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 510px;
    height: 250px;
}
.Achievments-bottom-items img{
    width: 48%;
    height: 100%;
    transform: translateY(77vh);
}
.Achievments__text{
    width: 48%;
    height: 100%;
    background: -webkit-linear-gradient( bottom right , #C33764,  #1D2671 );
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(77vh);
}
.Achievments__text p:nth-child(1){
    font-size: 30px;
    font-weight: 200;
    width: 100px;
    margin-left: -70px;
}
.Achievments__text p:nth-child(2){
    font-size: 61px;
    font-weight: 700;
    margin-left: 40px;

}
#Slider .fadein{
    animation: slideIn .4s cubic-bezier(0.68, 0.24, 0.14, 0.69) forwards;
}

#Slider .toUp{
    animation: up 1.5s cubic-bezier(0.35, 0.35, 0.05, 0.88) forwards 1s;
}
#Slider .toUp2{
    animation: up 1.5s cubic-bezier(0.35, 0.35, 0.05, 0.88) forwards 1.5s;
}
#Slider .toUp3{
    animation: up 1.5s cubic-bezier(0.35, 0.35, 0.05, 0.88) forwards 2s;
}
#Slider .out{
    animation: out 3s cubic-bezier(0.35, 0.35, 0.05, 0.88) forwards .4s!important;
}
#Slider .list{
    animation: list 1.5s cubic-bezier(0.35, 0.35, 0.05, 0.88) forwards 3s;
}
/*ANIMATION*/
@keyframes slideIn{
    from {transform: translateY(100vh)}
    to {transform: translateY(0vh)}
}
@keyframes up{
    from {transform: translateY(77vh)}
    to {transform: translateY(0vh)}
}
@keyframes out{
    from{top: 0; position: relative;}
    to { top: -50%}
}
@keyframes list{
    to {transform: translateY(0); opacity: 1;}
}
/**/ 
@media screen and (max-width:1220px){
    .Slider__text{
        display: block;
    }
    .Slider__text_content {
        left: 0;
        transform: translate(50px, -50%);
        width: 95vw;
    }
    .Slider__content{
        /*width: 1100px;*/
        width: 95vw;
        margin: 100px auto 0px;
    }
    .Slider__text_content{
        height: auto;
    }
    .Slider__text_content p{
        font-size: 35px;
    }
    .Slider__text_content h2{
        font-size: 102px;
        margin-top: 0;
    }
    .Slider__text_content h3{
        font-size: 25px;
        margin: 40px 0; 
    }
    .Slider__text_content span{
        font-size: 14px;
        margin: 0;
        padding: 0;
        display: inherit;
        width: 470px!important;
    }
    .Portfolio{
        margin-right: 25px;
    }
}
@media screen and (max-width:996px){
    .Slider__our-service-and-areas, .Portfolio , .Achievments , .Video___content , .Achievments-bottom-items{
        width: 400px;
        height: 400px;
    }
    .Our-service__img img{
        width: 150px;
    }
    .Our-service__text h6{
        font-size: 20px;
    }
    .Our-service__text p{
        font-size: 14px;
    }
    .keep-reading {
        width: 100px;
        height: 20px;
        font-size: 14px;
    }
    .Areas h3{
        font-size: 40px;
    }
    .Areas li, .Video__menu li{
        font-size: 16px;
    }
    .Video__img , .Video__menu , .Video__img img{
        width: 191px;
        height: 191px;
    }
    .Portfolio{
        margin-right: 0;
    }
    .Portfolio__content{
        margin-right: 15px;
    }
    .Portfolio__content h3{
        font-size: 60px;
    }
    .Portfolio__content p{
        font-size: 40px;
    }
    .Achievments-bottom-items img,.Achievments__text {
        width: 191px;
        height: 191px;
    }
    .Achievments-top-items h3{
        font-size: 30px;
    }
    .Date p{
        font-size: 28px;
    }
    .Achievments__text p:nth-child(1){
        font-size: 25px;
    }
    .Achievments__text p:nth-child(2){
        font-size: 50px;
    }
}
@media screen and (max-width:768px){
    .Slider__content{
        display: none;
    }
    .Slider__text{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Slider__text_content{
        width: auto; 
        height:  auto; 
        position: relative; 
        top: 0; 
        left: 0; 
        transform: translate(0,0)!important; 
        text-align: center;
    }
    .Slider__text_content p{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .Slider__text_content h2{
        font-size: 60px;
    }
    .Slider__text_content h3{
        font-size: 18px;
            margin: 20px 0;
    }
    .Slider__text_content span{
        font-size: 14px;
        width: 330px!important;
    }
}
@media screen and (max-width:320px){
    .Slider__text_content, .Slider__text_content span{
        width: 300px!important;
    }
}